:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: #709b90;
  font-family: Helvetica, Arial, sans-serif;
  /* border: 3px solid black; */
}
body * + * {
  margin-top: 1.5em;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.site-nav {
  /* border: 2px solid palevioletred; */
  display: -webkit-flex;
  display: flex;
  padding: 0.5em;
  list-style-type: none;
  background-color: #5f4b44;
  border-radius: 0.2em;
}
.site-nav > li {
  margin-top: 0;
}

.site-nav > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
}
.site-nav > li + li {
  margin-left: 2em; /* Targets every list item that follows another list item (that is, all but the first) */
}
.site-nav > .nav-right {
  margin-left: auto;
}
.tile {
  /* border: 4px solid blueviolet; */
  padding: 1.5em;
  background-color: #fff;
}
.flex {
  /* border: 4px solid green; */
  display: flex;
}

.flex > * + * {
  /* This combinator "the lobotomized owl" selects all the flex items in the flex box except the very first one.*/
  /* Removes the top margin and applies space between the flex items */
  /* border: 6px solid burlywood; */
  margin-top: 0;
  margin-left: 1.5em;
}
.column-main {
  /* border: 8px solid darkcyan; */
  flex: 2;
}
.column-sidebar {
  /* border: 4px solid black; */
  flex: 1;
  display: flex;
  flex-direction: column;
}
.column-sidebar > .tile {
  flex: 1;
}
.login-form h3 {
  margin: 0;
  /* border: 2px solid red; */
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}
/* Styles all text-like inputs (not checkboxes or radio buttons) */
.login-form input:not([type="checkbox"]):not([type="radio"]) {
  display: block;
  width: 100%;
  margin-top: 0;
}
.login-form button {
  margin-top: 1em;
  border: 1px solid #cc6b5a;
  background-color: white;
  padding: 0.5em 1em;
  cursor: pointer;
}
.centered {
  text-align: center;
}
.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.7;
  /* border: 3px solid rebeccapurple; */
}
.cost > span {
  margin-top: 0; /* Overrides margins from the lobotomized owl */
}
.cost-currency {
  font-size: 2rem;
}
.cost-dollars {
  font-size: 4rem;
}
.cost-cents {
  font-size: 1.5rem;
  align-self: flex-start; /*Overrides align-items for this item, aligning it to the top instead of center */
}
.cta-button {
  display: block;
  background-color: #cc6b5a;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
}
