/* TODO: Example 06 (Activity 7) CSS goes here */
@import "global";
@import "alert";
@import "button";
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}
/* using mixin with arguments */
.button {
  @include make-button($basic-btnColor);
  &:hover {
    cursor: pointer;
    @include make-button(darken($basic-btnColor, 10%));
  }
  &.primary {
    @include make-button($primary-color);
  }
  &.secondary {
    @include make-button($secondary-color);
  }
  &.success {
    @include make-button($success-color);
  }
  &.error {
    @include make-button($error-color);
  }
  &.warning {
    @include make-button($warning-color);
  }
}

@media (min-width: 500px) {
  .button {
    width: calc(50% - 2em);
  }
}
@media (min-width: 740px) {
  .button {
    width: auto;
  }
}

.alert {
  @include make-alert($basic-btnColor);
  &.title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    &::after {
      content: " ";
      display: block;
      padding-top: 5px;
      border-bottom: 1px solid darken($basic-btnColor, 15%);
    }
  }
  &.primary {
    @include make-alert($primary-color);
  }
  &.secondary {
    @include make-alert($secondary-color);
  }
  &.success {
    @include make-alert($success-color);
  }
  &.error {
    @include make-alert($error-color);
  }
  &.warning {
    @include make-alert($warning-color);
  }
}
