/* TODO: Example 06 (Activity 7) CSS goes here */
@import "global";
@import "alert";
@import "button";
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.button {
  @include make-button;
  &:hover {
    background: lighten($basic-btnColor, 10%);
  }
  &.primary {
    background-color: $primary-color;
  }
  &.secondary {
    background-color: $secondary-color;
  }
  &.success {
    background-color: $success-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.warning {
    background-color: $warning-color;
  }
}

@media (min-width: 500px) {
  .button {
    width: calc(50% - 2em);
  }
}
@media (min-width: 740px) {
  .button {
    width: auto;
  }
}

.alert {
  @include make-alert;
  &.title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    &::after {
      content: " ";
      display: block;
      padding-top: 5px;
      border-bottom: 1px solid darken($basic-btnColor, 15%);
    }
  }
  &.primary {
    background-color: $primary-color;
  }
  &.secondary {
    background-color: $secondary-color;
  }
  &.success {
    background-color: $success-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.warning {
    background-color: $warning-color;
  }
}
